.light-theme {
    background-color: #eceaea;
    color: #000000;
}

.dark-theme {
    background-color: #313131;
    color: #fdf0f0;
}

header {
    padding: 1em;
    border-bottom: 10px;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin: auto;
}

#log-in {
    font-size: 15px;
}

.light-mode {
    border: none;
    padding: 0;
    background: none;
}

.navbar {
    border: none;
    background: none;
}

.books img {
    width: 100%;
    height: auto;
    display: block;
}

.books:hover {
    background-color: #e1dbdb;
}

.books {
    float: left;
    width: 30%;
    margin: 0px 3px 6px 3px;
    background-color: #F9F7F0;
    color: #181818;
    text-align: center;
    height: 200px;
}

.books a {
    margin: 8px 0;
    font-size: 16px;
}

.search-display {
    margin: auto;
    padding: 10px 10px;
    max-width: 75vw;
}

.search-display .books {
    width: 180px;
    padding-bottom: 8px;
    height: 350px;
}

.clear {
    clear: none;
}

.bookpage_container {
    float: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageBtns {
    margin: 20px;

}

.pageBtns button {
    width: 85px;
    height: 40px;
}
